<!DOCTYPE html>
<html>
	<head>
		<title>Eat-Da-Burger!|Don Bedwell</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- additional styles -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		
		<div class="container">
  			<div class="jumbotron">
  				<div class="row">
        			<div class="col-md-8">
  						<h1>Eat-Da-Burger!</h1>
  						<p>Enter the name of a burger you'd like to eat then select the <strong>Create Burger</strong> button!</p>
  						<p>Select a burger you'd like to eat with the <strong>Eat Up!</strong> button.</p>
  					</div>
  					<div class="col-md-4">
  						<img class="img-responsive" src="/assets/img/burger.png" alt="hamburger">
  					</div>
  				</div>
  			</div>
  			
			{{{ body }}}

		</div>

	</body>
</html>
